body {
    background-color: #5a88d7; /* Baby pink background color */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Times New Roman font */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the body fill the viewport height */
    margin: 0;
}

h1 {
    font-weight: bold; /* Bolded title */
    margin-bottom: 20px; /* Add some spacing below the title */
}
label{
    margin-bottom: 10px;
    font-weight: bold;
}
form {
    background-color: #a6d1ff; /* Pink form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    width: 80%; /* Set the form width */
    max-width: fit-content; /* Limit the maximum width */
    box-sizing: border-box;
    margin-top: 0px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #2a9ddc82; /* Lighter pink for submit button */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3247ff; /* Darker pink on hover */
    color: white;
}

p {
    background: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
}
